@charset "utf-8";
/* CSS Document */
body {
	margin: 0px;
	border: 0px;
	background-image:url(../images/puzzle2.jpg);
	background-repeat:repeat;
	background-color: #333;
	color:#FFF;
	font-family: 'Luckiest Guy', sans-serif;
	font-size:16px;
}

#game-boards {
	width: 100%;
	text-align: center;
}

.puzzle-pieces, .puzzle-board {
	margin-top: 40px;
	display: inline-block;
	border: medium solid #333;
	background-color:#000;
	color:inherit;
	overflow: hidden;
}

.puzzle-pieces {
	min-width: 300px;
	height: 400px;
	margin-right: 20px;
}

.puzzle-board {
	width:600px;
	height: 400px;
}

header {
	position: relative;
	top: 20px;
	width:600px;
	margin: 0px auto;
	text-align: center;
}

header h1 {
	font-size: 3.25em;
  letter-spacing: 3px;
	margin: 10px 0
}

header p, footer p { font-size: 1.7em; letter-spacing: 2px; margin: 10px 0 }

footer {
	position: relative;
	top: 65px;
	width:600px;
	margin: 0px auto;
	text-align: center;
}

#playButton2 {
	/*cursor:pointer;*/
	padding-bottom:15px;
}

#topLeft { position:relative; }

#topRight { position:relative; left:200px; }

#bottomLeft { position:relative; top:120px; }

#bottomRight { position:relative; top:120px; left:200px; }

#buttonHolder {
	margin: 0px auto;
	text-align:center;
}

#buttonHolder img {
	margin-left: 5px;
	margin-right: 5px;
	border-radius: 20px;
	border: thin solid #333;
	cursor: pointer;
}

#buttonHolder img:hover {
	opacity:.5;
}

#tempImages img {
	position: relative;
}

#bgImage2 {
	position:absolute;
	left:0px;
	top: 0px;
	z-index:0;
}

#bgImage {
	position:relative;
	left:0px;
	top: 0px;
	z-index:1;
}

.initialScale {
	transform:scale(.25, .25);
}

.makeMeAbsolute {
	position:absolute;
	z-index:1;
}

.blur {
	filter: blur(4px);
	clip:rect(4px, 198px, 132px, 4px);
}
